#centerbody{
    width: 100%;
    height: 100%;
    margin-top:71px;
    /* background-color: rgba(226, 9, 255, 0.216); */
    overflow: auto;
    position: absolute;
    margin-left: -1px;
    z-index: -1;
}
::-webkit-scrollbar{
    background-color: aqua;
    width: 5px;
    height: 100%;
    background-color: rgba(127, 255, 212, 0.263);
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: aqua;
    border-radius: 1px;
}
#centerbody>div{
    position: absolute;
    transition: 2s;
    width: 100%;
    height: 100%;
    /* height: 10000000000000px; */
    right: -100VW;
    background-color: #d6e4e1c5;
}
